.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgb(149, 160, 172);
}

.token.namespace {
  opacity: 0.7;
}

.token.string,
.token.attr-value {
  color: hsl(80, 100%, 50%);
}

.token.punctuation {
  color: #f2eeea;
}

.token.operator {
  color: hsl(33, 45%, 70%);
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex {
  color: hsl(327, 100%, 50%);
}

.token.prefix.inserted {
  color: hsl(80, 100%, 50%);
}

.token.prefix.deleted {
  color: hsl(348, 68%, 78%);
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
  color: hsl(198, 100%, 53%);
}

.token.function,
.language-autohotkey .token.tag {
  color: hsl(348, 68%, 78%);
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
  color: hsl(240, 100%, 51%);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
